{% extends 'my_site/base.html' %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block header %}
    <h1>Регистрация</h1>    
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Регистрация нового пользователя</h3>
                    </div>
                    <div class="panel-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
                                        {{ form.username }}
                                        {% if form.username.errors %}
                                            <div class="text-danger">{{ form.username.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ form.email.id_for_label }}">Email:</label>
                                        {{ form.email }}
                                        {% if form.email.errors %}
                                            <div class="text-danger">{{ form.email.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="{{ form.first_name.id_for_label }}">Имя:</label>
                                        {{ form.first_name }}
                                        {% if form.first_name.errors %}
                                            <div class="text-danger">{{ form.first_name.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="{{ form.last_name.id_for_label }}">Фамилия:</label>
                                        {{ form.last_name }}
                                        {% if form.last_name.errors %}
                                            <div class="text-danger">{{ form.last_name.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Роль:</label>
                                        {{ form.role }}
                                        {% if form.role.errors %}
                                            <div class="text-danger">{{ form.role.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ form.password1.id_for_label }}">Пароль:</label>
                                        {{ form.password1 }}
                                        {% if form.password1.errors %}
                                            <div class="text-danger">{{ form.password1.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ form.password2.id_for_label }}">Подтверждение пароля:</label>
                                        {{ form.password2 }}
                                        {% if form.password2.errors %}
                                            <div class="text-danger">{{ form.password2.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                        </form>
                        
                        <hr>
                        <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

