{% load static %}
<html>

    <head>
        {% block title %}
            
        {% endblock %}

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/my_site.css' %}">

    </head>

    
    <header>
        <div>
            {% block header %}
            
            {% endblock %}
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'services' %}">Услуги</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Профиль</a></li>
                    
                    {% if user.is_admin_property or user.is_teacher_property %}
                        <li><a href="{% url 'add_student' %}">Добавить студента</a></li>
                        <li><a href="{% url 'students_list' %}">Список студентов</a></li>
                    {% endif %}
                    
                    {% if user.is_admin_property %}
                        <li><a href="{% url 'admin:index' %}">Админ-панель</a></li>
                    {% endif %}
                    
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Войти</a></li>
                    <li><a href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
        <h1>Подвал сайта (UwU)</h1>
    </footer>

</html>
