{% extends 'my_site/base.html' %}

{% block title %}
    <title>Контакты</title>
{% endblock %}

{% block header %}
    <h1>Контакты</h1>    
{% endblock %}

{% block content %}
    <body>
        <content>
            <div>
                <h1>Контакты</h1>
                <p>Имажап Очур-Бады Салимович, создатель этого детища под названием "Сайт"</p>
                <p>Имею 4500 рейтинга в киберспортивной дисциплине "Защита древних 2"</p>
                <p>Если есть вопросы или желание связаться со мной: o.imazhap@sibstrin.ru</p>
            
            </div>
        </content>
        
    </body>
{% endblock %}