{% extends 'my_site/base.html' %}

{% block title %}
    <title>Дом</title>
{% endblock %}

{% block header %}
    <h1>Заголовок сайта (лол)</h1>    
{% endblock %}

{% block content %} 
    <body>
        <content>
            <div>
                <h1>Главная</h1>
                <p>Основной контент хранится тут</p>
                <p>контент</p>
                <p>контент</p>
                <p>контент</p>
                <p>контент</p>
                <p>контент</p>
                <p>контент</p>
                <p>снова контент</p>
            </div>
        </content>
        
    </body>
{% endblock %}